.logo{
    width: 200px;
    background-color: antiquewhite;
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.logo img{
    border-radius: 5px;
}
.logo h1{
    font-size: 20px;
}
span{
    font-size: 15px;
    color: goldenrod;
}
.container{
    display: flex;
    background-color: blue;
    height: 150px;
    width: auto;
    margin-top: -2
    00;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none; 
}
li{
    text-decoration: none;
    color: #444; 
}
.contacts{
    width: auto;
    height: 150px;
    background-color: #444;
}
.title{
    font-size: 80px;
}